.container {
  display: flex;
  margin: 0 5px;
}

.filterButton {
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #ccc;
  margin-right: 5px;
  padding: 2px 8px;
}

.filterButtonSelected {
  background-color: #222;
  color: #fff;
}
